
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // The 'users' collection
    match /users/{userId} {
      // A user can get their own document.
      allow read: if request.auth != null && request.auth.uid == userId;

      // A new user can create their profile.
      allow create: if request.auth != null && request.auth.uid == userId;

      // An existing user can update their profile.
      allow update: if request.auth != null && request.auth.uid == userId;

      // Nobody can delete a profile through the client.
      allow delete: if false;
    }
  }
}
